@import './../../style/constants';

@mixin titleContent {
  font-size: 2em;
  margin-bottom: 0.5em;
  letter-spacing: 0.05em;
}
@mixin subtitleContent {
  font-size: 1em;
  margin-bottom: 1em;
  letter-spacing: 0.05em;
}

@mixin paragraphContentDescription {
  font-size: 0.8em;
  margin-bottom: 2em;
  line-height: 20px;
  letter-spacing: 1px;
  font-style: normal;
  padding-right: 1em;
  color: $paragraphVisibility2;
}

.Falcon9 {
  width: 70%;
  margin: 0 auto;

  .Falcon9__FlexContainer {
    display: flex;
    flex-direction: row;

    .Falcon9__FlexContainer__Colum1 {
      flex: 1;
      position: relative;

      .self-align-end {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      .padding-1em {
        padding: 1em;
      }
      .margin-bottom-3 {
        margin-bottom: 3em;
      }

      .Falcon9__Plane--plane1 {
        width: 100%;
        height: auto;
        margin-bottom: 1em;
      }
      .Falcon9__Plane--plane1--text {
        font-size: 0.7em;
        letter-spacing: 0;
      }
      .Falcon9__Plane--plane1--PhotoAlt {
        font-size: 0.5em;
      }
      h3 {
        @include titleContent;
      }
      h4 {
        @include subtitleContent;
      }
      .Falcon9__P--Description {
        @include paragraphContentDescription;
        color: $paragraphVisibility1;
      }
      .margin-bottom-3 {
        margin-bottom: 10rem;
      }
      p {
        @include paragraphContentDescription;
      }
      a {
        @include linkWithArrow;
        margin-bottom: 4rem;
        display: inline-block;
      }
      .Falcon9__FlexContainer__Colum--Img {
        width: 50%;
        margin: 0 auto;
        display: block;
      }

      .Flex1 {
        flex: 1;
        margin-right: 1em;

        h4 {
          font-size: 0.8em;
          padding: 0.5em 0;
          color: rgba(255, 255, 255, 0.808);
          text-transform: uppercase;
          border-bottom: solid 1px rgba(255, 255, 255, 0.808);
        }
        .Flex__Numbers {
          font-size: 3em;
          color: white;
          padding: 1rem 0;
          margin: 0;
          span {
          }
        }
      }
      .Flex3 {
        flex: 3;

        h4 {
          font-size: 0.8em;
          padding: 0.5em 0;
          color: rgba(255, 255, 255, 0.808);
          text-transform: uppercase;
          border-bottom: solid 1px rgba(255, 255, 255, 0.808);
        }

        .Flex__Numbers {
          font-size: 3em;
          color: white;
          padding: 1rem 0;
          margin: 0;
          span {
            font-size: 0.5em;
            margin-right: 1em;
          }
          i {
            color: rgba(255, 255, 255, 0.5);
            font-size: 0.4em;
          }
        }
      }

      .Box__Bottom {
        position: absolute;
        bottom: 0;
      }

      .img__3 {
        width: 80%;
        margin: 0 auto;
        display: block;
        position: relative;
        top: 50px;
      }
    }
  }
}
